<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Reconstruction</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="p-6 bg-gray-900 flex flex-col items-center">
    <a href="/" class="absolute top-4 left-4">
        <img src="../images/home_button.png" alt="home button" width="40" height="40">
    </a>
    
    <h2 class="text-4xl font-bold dark:text-white">Upload an Image for Reconstruction</h2>

    <div id="fileSelector" class="flex items-center justify-center mt-6 w-1/2">
        <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 hover:bg-gray-100">
            <div class="flex flex-col items-center justify-center pt-5 pb-6">
                <svg class="w-8 h-8 mb-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                </svg>
                <p class="mb-2 text-sm text-gray-500"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                <p class="text-xs text-gray-500">PNG, JPG, GIF (MAX. 800x400px)</p>
            </div>
            <input id="dropzone-file" type="file" class="hidden" accept="image/*" onchange="previewImage()" />
        </label>
    </div>

    <div id="imageGrid" class="grid grid-cols-2 gap-x-10 mx-auto justify-center mt-6 hidden">
        <div class="flex flex-col items-center">
            <p class="text-center text-gray-600 dark:text-gray-300 font-semibold">Original Image</p>
            <img id="originalImage" class="w-80 h-80 rounded-lg object-cover bg-gray-200" src="" alt="Original Image">
        </div>
    
        <div class="flex flex-col items-center">
            <p class="text-center text-gray-600 dark:text-gray-300 font-semibold">Reconstructed Image</p>
            <img id="reconstructedImage" class="w-80 h-80 rounded-lg object-cover bg-gray-200" src="https://flowbite.com/docs/images/examples/image-3@2x.jpg" alt="Encrypted Image">
        </div>
    </div>

    <br>

    <button onclick="reconstructImage()" class="mt-4 px-6 py-2 text-base font-medium text-white bg-white border border-gray-200 rounded-md hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-200 dark:focus:text-white">
        Reconstruct
    </button>

    <div id="ssimContainer" class="w-full mt-2">
        <div class="flex justify-between mb-1">
            <span class="text-base font-medium text-blue-400">SSIM</span>
            <span id="ssimValue" class="text-sm font-medium text-blue-400">0%</span>
        </div>
        <div class="w-full bg-gray-200 rounded-full h-4 dark:bg-gray-700">
            <div id="ssimBar" class="bg-blue-600 h-4 rounded-full transition-all duration-500 ease-in-out" style="width: 0%"></div>
        </div>
    </div>
  
    <div id="psnrContainer" class="w-full mt-4">
        <div class="flex justify-between mb-1">
            <span class="text-base font-medium text-green-400">PSNR</span>
            <span id="psnrValue" class="text-sm font-medium text-green-400">0%</span>
        </div>
        <div class="w-full bg-gray-200 rounded-full h-4 dark:bg-gray-700">
            <div id="psnrBar" class="bg-green-600 h-4 rounded-full transition-all duration-500 ease-in-out" style="width: 0%"></div>
        </div>
    </div>  

</body>
<script src="/scripts/reconstruct.js" defer></script>
</html>
